* {
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 0.7rem;
}

body::-webkit-scrollbar-track {
  background: rgba(39, 83, 115, 0.3);
}

body::-webkit-scrollbar-thumb {
  background: #275373;
}

html {
  scroll-behavior: smooth;
}
.siema-container {
  width: fit-content;
  height: fit-content;
  position: relative;
}
a:hover {
  text-decoration: none !important;
}
.preview-in {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
}
.gts {
  color: white;
  border: 3px solid white;
  padding: 10px 20px;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  margin-top: 30px;
  font-style: italic;
  transition: all 0.3s ease;
}
.gts svg {
  fill: white;
  vertical-align: middle;
}
.gts:hover {
  background-color: white;
  transform: skewX(-10deg);
}
.gts-1:hover {
  color: #6808e8 !important;
}
.gts-2:hover {
  color: #00d8ff !important;
}
.gts-3:hover {
  color: #ff5aff !important;
}
.gts-1:hover svg {
  fill: #6808e8;
}
.gts-2:hover svg {
  fill: #00d8ff;
}
.gts-3:hover svg {
  fill: #ff5aff;
}
.siema {
  width: 600px;
  height: auto;
}
.siema-sfm {
  color: white;
  font-size: 0.7rem;
  position: absolute;
  top: 100%;
  right: 0%;
}
.siema-image {
  width: 600px;
  height: auto;
  object-fit: contain;
}

.project {
  min-height: 100vh;
  scroll-snap-align: start;
}
.p-ecom {
  background-color: #6808e8;
}
.p-cosn {
  background-color: #00d8ff;
}
.p-rees {
  background-color: #ff5aff;
}
.preview {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tech-stacks {
  padding: 20px;
  width: 100%;
  min-height: 100vh;
}
.tech-stacks-in {
  background-color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-name {
  font-weight: 400;
  color: #614661;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  overflow: hidden;
}
.p-name .letter {
  display: inline-block;
  opacity: 0;
}
.subhead {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  color: #614661;
  position: relative;
  width: fit-content;
  margin: auto;
  margin-bottom: 20px;
  letter-spacing: 5px;
}
.tech-stacks-in-in .subhead:nth-of-type(2)::after {
  animation-delay: 2s;
}
.ractive .subhead::after {
  animation: underline-anim 1s cubic-bezier(0.87, 0, 0.13, 1) forwards 1.6s;
}
.subhead::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 5px;
  border-bottom: 2px solid #614661;
  opacity: 0;
}
@keyframes underline-anim {
  to {
    width: 100%;
    opacity: 1;
  }
}
.tech-stack {
  text-align: center;
  width: 70%;
  margin: auto;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.features {
  font-size: 1.1rem;
  color: #614661;
  letter-spacing: 1px;
  font-weight: 500;
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-bottom: 5px;
  position: relative;
}
.features::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  height: 5px;
  width: 5px;
  background-color: #614661;
  border-radius: 50%;
}
.underline-design {
  width: 70%;
  margin: auto;
  margin-bottom: 25px;
}
svg {
  max-width: 100%;
}
.hi {
  font-size: 12rem;
  width: fit-content;
  margin: 0px;
  padding: 0px;
  color: #383838;
  font-weight: 300;
  margin-top: -70px;
}
.description {
  color: #383838;
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 40px;
}
.cp {
  z-index: 26;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  /* flex-wrap: wrap; */
}

/* HERO SECTION */
.letter {
  display: inline-block;
}
.hero-section {
  min-height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.h-ifsd {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
  color: white;
  text-align: center;
  text-transform: uppercase;
  /* font-style: italic; */
  letter-spacing: 5px;
  font-size: 3.5rem;
  font-weight: 200;
  width: 100%;
}
.h-hi {
  max-width: 100vw;
  font-size: 10rem;
  z-index: 10;
  color: #383838;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.h-hi.hactive {
  color: white;
}
.h-hi .letter {
  display: inline-block;
}

.h-circle {
  z-index: 5;
  background-color: #383838;
  opacity: 0;
  height: 500px;
  width: 500px;
  border-radius: 50%;
}
.h-ictw-ts {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h-ictw {
  z-index: 15;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3.5rem;
  font-style: italic;
  font-weight: 300;
  color: white;
  overflow: hidden;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
a.pr-a {
  text-decoration: none;
  padding: 10px 10px;
  font-size: 0.9rem;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  letter-spacing: 5px;
  color: white;
  font-weight: 600;
  border: 2px solid white;
  opacity: 0;
  box-shadow: 5px 5px white;
  transition: all 0.3s ease;
}
a.pr-a:hover {
  box-shadow: 10px 10px white;
}
a.pr-a:focus {
  box-shadow: 0px 0px white;
  transform: translate(10px, 10px);
}
.h-ts {
  z-index: 25;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.h-ts svg {
  width: 13%;
  height: 90px;
  max-height: 90px;
  flex-grow: 1;
  margin: 20px;
  opacity: 0;
  transition: filter 0.4s ease;
  cursor: pointer;
}

.contact-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.goTop {
  position: absolute;
  bottom: 20px;
  right: 20px;
  min-width: 60px;
  min-height: 60px;
  fill: #6808e8;
  transition: all 0.3s ease;
}

.goTop:hover {
  transform: translateY(-5px);
}
.contact-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}
.contact-details a {
  margin: 15px;
}
.contact-mail {
  background-color: #ffffff;
  border: 3px solid #6808e8;
  color: #6808e8;
  padding: 10px 20px;
  margin-top: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 600;
  font-size: 1.2rem;
}
.contact-mail:hover {
  color: white !important;
  background-color: #6808e8;
  text-decoration: none;
}
.contact-mail svg {
  fill: #6808e8;
  transition: all 0.3s ease;
  vertical-align: middle;
  margin-left: 10px;
}
.contact-mail:hover svg {
  fill: white;
}
.contact {
  font-size: 8rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 600;
  color: #6808e8;
}
.upwork {
  font-weight: 600;
  color: #6808e8;
  text-decoration: none;
  /* text-transform: uppercase; */
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.upwork:hover {
  color: #6808e8;
}
.upwork svg {
  vertical-align: middle;
}

@media only screen and (max-width: 790px) {
  .siema,
  .siema-image {
    width: 80vw;
  }
}
@media only screen and (max-width: 576px) {
  .contact {
    font-size: 2.7rem;
  }
  .contact-mail {
    font-size: 1rem;
  }
  .p-name {
    font-size: 2.2rem;
  }
  .subhead {
    font-size: 1.5rem;
  }
  .tech-stacks {
    padding: 10px;
    height: auto;
  }
  .tech-stacks-in {
    padding: 20px 0px;
  }
  .tech-stack,
  .features {
    font-size: 1rem;
  }
  .h-hi {
    font-size: 8rem;
  }
  .h-ts svg {
    width: 50px;
    margin: 20px;
    height: 50px;
  }
  .h-ictw {
    font-size: 1.1rem;
    margin: 40px auto;
  }
  .h-ifsd {
    font-size: 0.7rem;
  }
  .cp {
    margin: 20px;
  }
  .h-circle {
    width: 90vw;
    height: 90vw;
  }
  a.pr-a {
    font-size: 1.5rem;
  }
}
.stack-details {
  transform: translateY(-30px);
  opacity: 0;
}
.ractive .stack-details {
  animation: fade-in 1s forwards cubic-bezier(0.87, 0, 0.13, 1) 1s;
}
.l-design path {
  stroke-dasharray: 910px;
  stroke-dashoffset: 910px;
  opacity: 0;
}
.ractive .l-design path {
  animation: ldesign 1.4s ease-out forwards 0.2s;
}
@keyframes ldesign {
  to {
    stroke-dashoffset: 0px;
    opacity: 1;
  }
}
@keyframes fade-in {
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
